*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}
header{
    position: fixed;
    width: 100%;
    z-index: 5;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #A9A9A9;
}
.navbar .navbar-item .logo img{
    height: 70px;
    width: 70px;
   margin-left: 20px;
}
.navbar-item{
    display: flex;
    gap: 20px;
   
}
.navbar-item .logo p {
  font-family: sans-serif;
  color: white;

}
.navbar-item .logo h4{
    margin-top: 20px;
    color: orange;
}
 .navbar-icon i{
   margin: 20px 10px;
 font-size: 20px;
 color: orange;
}
.navbar-icon button{
    margin: 20px;
    height: 40px;
    width: 130px;
    border-radius: 5px;
    background-color: orange;
    outline: none;
    border: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
}
/* navbar-section end */


   
.container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 2px #83f16f;
}
.container .nav-menu{
    display: flex;
    gap: 20px;
   
}

.container .nav-menu .nav-link{
    padding: 10px 18px;
    
    color: #83f16f;
    font-size: 25px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.container .nav-menu .nav-link:hover{
 text-decoration: underline;
}

.container #menu-open-button{
    display: none;
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    color: white;
}
 .container #menu-close-button{
    display: none;
 }
 body.show-mobile-menu .container .nav-menu{
    left: 0;

 }

#menu-open-button{
  float: right;
    font-size: 20px;
    display: none;
    cursor: pointer;
    color: orange;
}
#menu-close-button{
    display: none;
    
}
.photo img{
    height: 50px;
    margin-top: 200px;
    width: 50px;
}
/* header-section-end */
@media(max-width:600px){
   nav{
    display: none;
   }
   
  
    
  
     


    
        .container .nav-menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        padding-top: 100px;
        width: 300px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
        transition: left 0.2s ease;
        
        
    }
     body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }
    body.show-mobile-menu .container .nav-menu{
    left: 0;

 }


    .container .nav-menu .nav-link{
        color: #83f16f;
        display: block;
        margin-top: 17px;
    }
    .container:where(#menu-close-button,#menu-open-button){
       font-size: 20px; 
    }
    .container #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
        display: block;
        border: none;
        outline: none;
        background-color: white;
        font-size: 20px;
        
    }
    
    .container #menu-open-button{
        display: block;
       font-size: 20px;
       border: none;
       outline: none;
       background: white;
    }
    .header-section .header-item ul li{
    
    margin-left: 10px;
    margin-top: 40px;
    text-align: start;
   
    
}
.header-items{
    height: 50px;
    width: 160px;
   
  
   
}
.header-section .header-items .icon .imgs h4{
    display: block;
    margin-top: 10px;
    
}
.header-section .header-items .icon .imgs p{
    display: block;
}
.header-section .header-items img{
   
   display: block;
    margin-left: 20px;
   height: 70px;
   width: 70px;
   margin-top: 20px;
}


}
        


    
 
    
  

